<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CosmosEndpoint" value="https://cosmos-retail-db.documents.azure.com:443/" />
		<add key="CosmosDatabase" value="ProductRecommendation" />
		<add key="CosmosContainer" value="ProductCatalog2" />
		<add key="TotalReads" value="10000" />
		<add key="TotalInserts" value="1000" />
		<add key="MaxConcurrency" value="100" />
		<add key="RunDurationMinutes" value="1" />
		<add key="TotalQueries" value="2000" />
		<add key="MaxReadConcurrency" value="100" />
		<add key="MaxQueryConcurrency" value="20" />
	</appSettings>
</configuration>